  <tr>
   <td><%=no%></td><td><a style="cursor: pointer; color: red; text-decoration: underline;" onclick="showModel(<%=no%>)"><%=name%></a></td><td><%=publisher%></td><td><%=purchaseDate%></td><td><%=genre%></td><td><%=rank%></td><td><%=readingState%>%</td>
  </tr>